@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To Diary-App Where we use EntityFramework to perform Magic<a>with Asp.NetCore</a>.</p>
</div>
